*.tmp
*.temp
*~
*.swp
*.swo

raw_data/
fastqc/
kallisto/
deseq2/
multiqc_data/
multiqc_report.html

logs/

references/
*.idx
*.bt2

*.RData
*.Rhistory
.Rproj.user/

__pycache__/
*.pyc
.pytest_cache/

.snakemake/

.DS_Store
Thumbs.db

.conda/
envs/
pkgs/

*.fai
*.bai
*.bam
*.sam
